{% extends 'general/base.html' %}

{% block content %}
    <h1>File {{ file.name }}</h1>
    Total number of downloads: {{ file.downloads.count }}<br/>
    {% if perms.files.delete_file %}
        <a class="btn btn-danger" href="{% url 'file-delete' file.id %}">Delete file</a>
    {% endif %}
    <h1>Comments</h1>
    <ul class="list-group">
        {% for comment in file.comments.all %}
            <li class="list-group-item clearfix">
                <b>{{ comment.created_by }} </b>
                {{ comment.text }}
                <span class="pull-right">Commented at: {{ comment.created_at }}</span>
            </li>
        {% endfor %}
        {% if file.comments.count == 0 %}
            No comments yet :(
        {% endif %}
    </ul>
    <h3>Add comment</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-primary">Submit</button>
    </form>


{% endblock %}