<form method="get" action="{% url 'file-list' %}" style="margin:0px">
    {% if not feed_view %}
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download selected
        </button>
        <br/>
        <input type="checkbox" id="select-all" onClick="c=document.getElementsByName('checks');for(i=0;i<c.length;i++){c[i].checked=this.checked}"/>
        <label for="select-all" style="font-weight: normal">Select all</label><br/>
    {% endif %}
    <table class="table" style="margin-bottom:0">
    {% for file in files %}
        <tr>
            <td>
                <input type="checkbox" name="checks" value="{{ file.id }}" id="check-{{ file.id }}" />
            </td>
            <td>
                <label for="check-{{ file.id }}">
                    {{ file.name }}
                </label>
            </td>
            <td>
                <span class="badge">{{ file.extension }}</span>
            </td>
            <td>
                {% if include_course_name %}
                    (<a href="{% url 'course-detail' file.course.id %}">{{ file.course.name }}</a>)
                {% endif %}
            </td>
            <td>&nbsp;
                <a href="{% url 'comment' file.id %}">{{ file.comments.count }} user comments</a>
            </td>
            <td>
                <span class="pull-right">Uploaded at: {{ file.created_at }}
                    <a href="{{ file.file.url }}">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'comment' file.id %}">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </a>
                </span>
            </td>
        </tr>
        {% if all_highlights %}
            <tr style="background-color: #eee">
                <td colspan="6">
                    {% for highlight in all_highlights|get_item:file %}
                        {{ highlight | safe }}<br/><br/>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</form>