{% extends 'general/base.html' %}

{% block content %}
    <h1>Files
    {% if perms.files.add_file %}
        <a class="btn btn-primary btn-sm" href="{% url 'file-upload' %}">Upload new file</a>
    {% endif %}
    </h1>

    <form method="get">
        File type:
        <select name="filetype_choice" onchange="this.form.submit()">
            <option>All</option> <!-- all types -->
            {% for type in file_types_list %}
                <option value="{{ type }}" {% if type == filetype %} selected="true" {% endif %}>{{ type }}</option>
            {% endfor %}
        </select>
    </form>
    {% with object_list as files %}
        {% with True as include_course_name %}
            {% include 'files/file_list.html' %}
        {% endwith %}
    {% endwith %}

{% endblock content %}
