{% extends 'general/base.html' %}

{% block content %}
    <h1>List courses</h1>
    {% if perms.courses.add_course %}
      <a href="{% url 'course-create' %}">Create course</a>
    {% endif %}
    <ul>
    {% for course in object_list %}
        <li>
        <td width="50%" align="center">
            <input type="checkbox" name="checks[]" value="{{ file.id }}"/>
        </td>
            <td>
            <a href="{% url 'course-detail' course.id %}"> {{ course.name }} ({{ course.files.count }} files)</a>
        </td>
        </li>
    {% endfor %}
    </ul>
    <input type="submit" value="Subscribe"/>
{% endblock content %}
